.mainMenu {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.mainMenu li a {
  display: block;
  font-weight: 700;
  padding: 1rem 0;
  text-transform: uppercase;
  color: var(--color-text-grey);
}

.mainMenu a:global(.active) {
  color: var(--color-text-default);
  border-bottom: 3px solid var(--color-text-default);
}
