@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

body {
  --font-size-default: 16px;
  --font-family-default: "Nunito", sans-serif;

  --color-text-default: #120e4d;
  --color-text-grey: #7a7a7a;
  --color-yellow: #ffc107;
  --color-white: #ffffff;
  --color-grey: #f4f4f4;
  --color-theme-main: #12054d;
  --color-price: #e63535;
}
