.App {
	text-align: center;
	font-family: "Nunito", sans-serif;
}

h1 {
	font-weight: 700;
}

.form {
	margin: 50px auto;
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	background-color: #333;
	border-radius: 20px;
	width: 50%;
}

label {
	display: block;
	margin-bottom: 8px;
}

input,
textarea {
	width: 10%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea {
	width: 10%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none; /* Ta linia blokuje możliwość zmiany rozmiaru */
	overflow-y: auto;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #45a049;
}

.tasks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.task {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 400px;
}

.task h2 {
	margin-bottom: 10px;
	overflow: hidden;
}

.task p {
	margin-bottom: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow: auto;
}

button.remove-btn:hover {
	background-color: #e63946;
}

@media only screen and (max-width: 767px) {
	.form-container {
		margin-top: 20px;
	}
}
