h1 {
  font-weight: 700;
  color: var(--fontcolor);
}

.form {
  display: flex;
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  margin-bottom: 35px;

  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-accent-1);
  color: #fff;
  border-radius: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 40%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
}
input[type="date"] {
  width: 40%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
